- var meta = locals.meta

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="keywords" content="#{meta.keywords}")
    meta(name="description" content="#{meta.description}")

    // ogp
    meta(property="og:title" content="#{meta.title}")
    meta(property="og:url" content="#{meta.ogurl}")
    meta(property="og:description" content="#{meta.description}")
    meta(property="og:image" content="")
    meta(property="og:locale" content="ja_JP")
    meta(property="fb:app_id" content="")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="")

    title #{meta.title}

    <!--[if lt IE 9]>
    script(src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
    script(type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    link( href="./styles/main.css" rel="stylesheet" )
    script(src="./scripts/vendor.bundle.js", type='text/javascript', charset='UTF-8')
    script( src="./scripts/main.js" type="text/javascript" )

  body
    div#container
      include _header
      block main
      include _footer
